@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Style+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "Lemon/Milk light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"),
    url("./fonts/LemonMilklight.woff") format("woff");
}
@font-face {
  font-family: "Abnormal Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Abnormal Regular"),
    url("./fonts/AbnormalRegular.otf") format("opentype");
}
@font-face {
  font-family: "RadioGrotesk Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Radio-Grotesk Regular"),
    url("./fonts/RadioGrotesk-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Abnormal";
  font-style: normal;
  font-weight: normal;
  src: local("Abnormal"), url("./fonts/AbnormalBold.otf") format("opentype");
}
@font-face {
  font-family: "Coolvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Coolvetica"), url("./fonts/Coolvetica.woff") format("woff");
}
@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: normal;
  src: local("Bebas"), url("./fonts/Bebas.woff") format("woff");
}

body {
  background-color: #fff;
}

.navbar {
  padding: 0;
  width: 100%;
  height: 5vw;
  padding-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.logo {
  font-family: "Lemon/Milk light Regular", BlinkMacSystemFont;
  color: #000;
  padding-left: 2vw;
  font-size: 3vw;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  padding-left: 2vw;
  flex: 1;
}

.items li {
  list-style: none;
  display: inline-block;
  padding: 1vw 1.5vw;
  padding-top: 0px;
  position: relative;
  font-weight: bold;
}

.items li a {
  text-decoration: none;
  font-size: 1.4vw;
  color: #000;
  font-family: "Josefin Sans";
  font-weight: 500;
}

.webapp {
  margin-left: 45vw;
  margin-top: 3vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 30px;
  border: 3px solid #333;
  background-color: #333;
  text-align: right;
  text-decoration: none;
  font-size: 1.4vw;
  color: #fff;
  font-family: "Josefin Sans";
  font-weight: 500;
}

hr.line {
  margin-top: -10px;
  border: 0.5px solid rgba(255, 255, 255, 1);
}

.landing {
  width: 100%;
  height: 71.2vh;
  margin-top: 10%;
  border-bottom: 2px solid #000;
}

.header {
  width: 100%;
  color: #000;
  font-size: 6vw;
  font-family: "Inter";
  letter-spacing: -4.5px;
}

.header h1 {
  margin-left: 5%;
}

.animate {
  width: 45%;
}

.rw-words-1 {
  text-align: center;
}

.rw-words-1 span {
  font-size: 10vw;
  margin-top: -10%;
  margin-left: -2vw;
  font-family: "Bebas";
  font-weight: 700;
  display: inline-block;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 9s linear 0s infinite;
  -moz-animation: rotateWord 9s linear 0s infinite;
  -o-animation: rotateWord 9s linear 0s infinite;
  -ms-animation: rotateWord 9s linear 0s infinite;
  animation: rotateWord 9s linear 0s infinite;
  color: #000;
}

.rw-words-1 span:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  color: #9b59b6;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  color: #2ecc71;
}
.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #f1c40f;
}
.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  animation-delay: 4.5s;
  color: #fc4349;
  margin-left: -7%;
}

.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #3498db;
  margin-left: -8%;
}

.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  animation-delay: 7.5s;
  color: coral;
  margin-left: -5%;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -moz-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -o-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -o-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.subtext {
  font-size: 1.8vw;
  text-align: center;
  margin-top: 12vw;
  margin-left: -35%;
  font-family: "Inter";
}

.subtext a {
  color: #000;
  text-decoration: none;
  padding: 0.2vw;
  transition: 1s;
  letter-spacing: 0px;
}

.subtext a:hover {
  text-decoration: underline;
}

.savings {
  margin-top: -5.5%;
  width: 100%;
  height: 90vh;
  background: transparent;
  border-bottom: 1.5px solid #000;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: hidden;
}

.left {
  width: 29vw;
  height: 77vh;
  margin-top: 6.8%;
  margin-left: -13%;
}

.right {
  width: 29vw;
  height: 75vh;
  margin-top: -35%;
  margin-right: -13%;
  float: right;
}

.save {
  margin-top: -48%;
}
/*  background: linear-gradient(90deg, rgb(255, 183, 83) 0%, rgb(255, 173, 175) 85%, rgba(217, 141, 156, 0.7) 100%) 100% center / cover, url(https://cdn.robinhood.com/assets/generated_assets/brand/_next/static/images/noise__d63eaf5….svg) rgb(240, 170, 165);
*/
.savings-header {
  background: -webkit-linear-gradient(
    #ffd700,
    #ffd700,
    rgb(255, 183, 83),
    rgb(255, 183, 83),
    rgb(255, 183, 83)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 6.5vw;
  letter-spacing: 0.03px;
  padding-top: 2%;
  text-align: center;
}

.savings-content {
  text-align: center;
}

.earn-18 {
  font-family: "RadioGrotesk Regular";
  letter-spacing: 0.3px;
  font-size: 5vw;
  color: #000;
  margin-top: 5%;
}

.earn-body {
  font-family: "RadioGrotesk Regular";
  font-size: 2.5vw;
  color: #808080;
  margin-top: -2%;
  text-transform: capitalize;
}

.global {
  margin-top: -5.5%;
  width: 100%;
  height: 90vh;
  border-bottom: 1.5px solid #000;
  background: transparent;
}
/* rgba(6, 64, 19, 0.7) 0%, rgb(116, 254, 36) 79%, rgb(126, 255, 42) 100%) 100% center / cover, url(https://cdn.robinhood.com/assets/generated_assets/brand/_next/static/images/noise__d63eaf5….svg) rgb(0, 200, 5) */
.global-header {
  background: -webkit-linear-gradient(
    rgb(116, 254, 36),
    rgb(19, 168, 51),
    rgb(97, 190, 34)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 6.5vw;
  letter-spacing: 0.03px;
  padding-top: 3%;
  text-align: center;
}

.single-18 {
  font-family: "RadioGrotesk Regular";
  letter-spacing: 0.3px;
  font-size: 5vw;
  color: #000;
  margin-left: 53%;
  margin-top: 5%;
}

.single-body {
  font-family: "RadioGrotesk Regular";
  font-size: 2.5vw;
  color: #808080;
  margin-top: -2%;
  margin-left: 48%;
  text-transform: capitalize;
}

.global-img {
  float: left;
  margin-top: -25%;
  margin-left: 3%;
  width: 40%;
}

.loan {
  margin-top: -5.5%;
  width: 100%;
  height: 90vh;
  background: transparent;
  border-bottom: 1.5px solid #000;
}

.loan-header {
  background: -webkit-linear-gradient(rgb(36, 254, 232), rgb(3, 221, 255));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 6.5vw;
  letter-spacing: 0.03px;
  padding-top: 3%;
  text-align: center;
}

.loan-18 {
  font-family: "RadioGrotesk Regular";
  letter-spacing: 0.3px;
  font-size: 5vw;
  color: #000;
  margin-left: 10%;
  margin-top: 7%;
}

.loan-body {
  font-family: "RadioGrotesk Regular";
  font-size: 2.5vw;
  color: #808080;
  margin-top: -2%;
  margin-left: 8%;
  text-transform: capitalize;
}

.bull {
  float: right;
  margin-top: -30%;
}

.tools {
  margin-top: -5.5%;
  width: 100%;
  height: 95vh;
  border-bottom: 1.5px solid #000;
  background: transparent;
}

.tools-header {
  background: -webkit-linear-gradient(
    #ffd700,
    #ffd700,
    rgb(255, 183, 83),
    rgb(255, 183, 83),
    rgb(255, 183, 83)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 6.5vw;
  letter-spacing: 0.03px;
  padding-top: 3%;
  text-align: center;
}

.tools-18 {
  font-family: "RadioGrotesk Regular";
  letter-spacing: 0.3px;
  font-size: 5vw;
  color: #000;
  margin-left: 53%;
  margin-top: 8%;
}

.tools-body {
  font-family: "RadioGrotesk Regular";
  font-size: 2.5vw;
  color: #808080;
  margin-top: -2%;
  margin-left: 48%;
  text-transform: capitalize;
}

.stock {
  float: left;
  margin-top: -32%;
  width: 35%;
  margin-left: 7%;
}

.security {
  margin-top: 2%;
  font-family: "Roboto";
  height: 125vh;
  border-bottom: 1px solid #000;
}

.security-head {
  text-align: left;
  margin-left: 10%;
}

.security-header {
  font-size: 4vw;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  margin-right: 3px;
  letter-spacing: 0;
  display: inline-flex;
}

.blue_ {
  font-size: 4vw;
  font-family: "Josefin Sans";
  color: #2fa4ff;
  font-weight: bolder;
}

.explore {
  color: rgb(188, 184, 184);
  margin-left: 14%;
  font-weight: 300;
  font-size: 1.8vw;
  font-family: "Roboto";
}

.img6 {
  height: 40vw;
  margin-top: -3vw;
}

.key__section {
  display: flex;
  justify-content: space-around;
  margin-top: -2%;
  margin-left: 3%;
}

.left__key {
  box-shadow: 1vw 1vw 1.5vw rgb(189, 187, 187);
  height: 12vw;
  width: 45vw;
  border-radius: 20px;
  margin-bottom: 2vw;
  display: flex;
}

.left__key1 {
  box-shadow: 1vw 1vw 1.5vw rgb(189, 187, 187);
  height: 10vw;
  width: 45vw;
  border-radius: 20px;
  margin-bottom: 2vw;
  display: flex;
}

.blue__side {
  background-color: #2fa4ff;
  box-shadow: 3px 3px 15px rgb(189, 187, 187);
  height: 12vw;
  width: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0px;
}

.blue__side1 {
  background-color: #2fa4ff;
  box-shadow: 3px 3px 15px rgb(189, 187, 187);
  height: 10vw;
  width: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0px;
}

.blue__sid {
  margin-left: 20%;
  margin-top: 60%;
}

.enabled {
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 1.5vw;
  letter-spacing: 0;
}
.enabled2 {
  font-size: 16px;
  /* font-family: 'Inter', sans-serif; */
  /* font-weight: lighter; */
  text-align: left;
  color: rgb(158, 153, 153);
  padding-left: 1.5vw;
}

.third__section {
  padding-top: 5%;
  background-color: #fff;
  width: 100%;
}

.purple_ {
  font-size: 4vw;
  font-family: "Roboto";
  color: #cc66ff;
  font-weight: bolder;
}

.explore-merch {
  color: rgb(188, 184, 184);
  margin-left: 12%;
  font-weight: 300;
  font-size: 1.8vw;
  font-family: "Roboto";
}

.keys {
  display: flex;
  justify-content: space-around;
}

.enabled3 {
  font-size: 2.5vw;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 3vw;
}

.enabled4 {
  background-color: #cc66ff;
  height: 0.5vw;
  width: 12vw;
  margin-top: -5%;
  margin-left: 11%;
  margin-bottom: 5.5vw;
}
.enabled5 {
  background-color: #cc66ff;
  height: 0.5vw;
  width: 8vw;
  margin-top: -5%;
  margin-left: 11%;
  margin-bottom: 5.5vw;
}
.enabled6 {
  background-color: #cc66ff;
  height: 0.5vw;
  width: 15vw;
  margin-top: -5%;
  margin-left: 11%;
  margin-bottom: 5.5vw;
}
.enabled7 {
  background-color: #cc66ff;
  height: 0.5vw;
  width: 18vw;
  margin-top: -5%;
  margin-left: 11%;
  margin-bottom: 5.5vw;
}
.support2 {
  color: rgb(188, 184, 184);
  text-align: left;
  margin-left: 5%;
  font-family: "Inter", sans-serif;
  font-weight: lighter;
  padding-top: 1vw;
  padding-bottom: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 20px;
  box-shadow: 1vw 1vw 2vw rgb(188, 184, 184);
  height: 5vw;
  width: 40vw;
  border-radius: 20px;
}

.support {
  margin-bottom: 2vw;
}
