@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Style+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "Lemon/Milk light Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Lemon/Milk light Regular"),
    url("./fonts/LemonMilklight.woff") format("woff");
}
@font-face {
  font-family: "Abnormal Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Abnormal Regular"),
    url("./fonts/AbnormalRegular.otf") format("opentype");
}
@font-face {
  font-family: "Abnormal";
  font-style: normal;
  font-weight: normal;
  src: local("Abnormal"), url("./fonts/AbnormalBold.otf") format("opentype");
}
@font-face {
  font-family: "Coolvetica";
  font-style: normal;
  font-weight: normal;
  src: local("Coolvetica"), url("./fonts/Coolvetica.woff") format("woff");
}
@font-face {
  font-family: "Bebas";
  font-style: normal;
  font-weight: normal;
  src: local("Bebas"), url("./fonts/Bebas.woff") format("woff");
}

body {
  background-color: #fff;
}

.navbar {
  padding: 0;
  width: 100%;
  height: 5vw;
  padding-bottom: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.logo {
  font-family: "Lemon/Milk light Regular", BlinkMacSystemFont;
  color: #000;
  padding-left: 2vw;
  font-size: 3vw;
  margin-top: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items {
  padding-left: 2vw;
  flex: 1;
}

.items li {
  list-style: none;
  display: inline-block;
  padding: 1vw 1.5vw;
  padding-top: 0px;
  position: relative;
  font-weight: bold;
}

.items li a {
  text-decoration: none;
  font-size: 1.4vw;
  color: #000;
  font-family: "Josefin Sans";
  font-weight: 500;
}

.webapp {
  margin-left: 45vw;
  margin-top: 3vw;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  border-radius: 30px;
  border: 3px solid #333;
  background-color: #333;
  text-align: right;
  text-decoration: none;
  font-size: 1.4vw;
  color: #fff;
  font-family: "Josefin Sans";
  font-weight: 500;
}

hr.line {
  margin-top: -10px;
  border: 0.5px solid rgba(255, 255, 255, 1);
}

.landing {
  width: 100%;
  height: 71.2vh;
  margin-top: 10%;
  border-bottom: 2px solid #000;
}

.header {
  width: 100%;
  color: #000;
  font-size: 6vw;
  font-family: "Inter";
  letter-spacing: -4.5px;
}

.header h1 {
  margin-left: 5%;
}

.animate {
  width: 45%;
}

.rw-words-1 {
  text-align: center;
}

.rw-words-1 span {
  font-size: 10vw;
  margin-top: -10%;
  margin-left: -2vw;
  font-family: "Bebas";
  font-weight: 700;
  display: inline-block;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 9s linear 0s infinite;
  -moz-animation: rotateWord 9s linear 0s infinite;
  -o-animation: rotateWord 9s linear 0s infinite;
  -ms-animation: rotateWord 9s linear 0s infinite;
  animation: rotateWord 9s linear 0s infinite;
  color: #000;
}

.rw-words-1 span:nth-child(1) {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  color: #9b59b6;
}

.rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  color: #2ecc71;
}
.rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  color: #f1c40f;
}
.rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  animation-delay: 4.5s;
  color: #fc4349;
  margin-left: -7%;
}

.rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  color: #3498db;
  margin-left: -8%;
}

.rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 7.5s;
  -moz-animation-delay: 7.5s;
  -o-animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  animation-delay: 7.5s;
  color: coral;
  margin-left: -5%;
}

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -moz-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -moz-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -o-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -o-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -o-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    transform: translateY(-30px);
  }
  5% {
    opacity: 1;
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    transform: translateY(30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.subtext {
  font-size: 1.5vw;
  text-align: center;
  margin-top: 12vw;
  margin-left: -35%;
  font-family: "Inter";
}

.subtext a {
  color: #000;
  text-decoration: none;
  padding: 0.2vw;
  transition: 1s;
  letter-spacing: 0px;
}

.subtext a:hover {
  text-decoration: underline;
}

.security {
  margin-top: 2%;
  font-family: "Roboto";
  height: 125vh;
  border-bottom: 2px solid #000;
}

.security-head {
  text-align: left;
  margin-left: 10%;
}

.security-header {
  font-size: 4vw;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  margin-right: 3px;
  letter-spacing: 0;
  display: inline-flex;
}

.blue_ {
  font-size: 4vw;
  font-family: "Josefin Sans";
  color: #2fa4ff;
  font-weight: bolder;
}

.explore {
  color: rgb(188, 184, 184);
  margin-left: 14%;
  font-weight: 300;
  font-size: 1.8vw;
  font-family: "Roboto";
}

.img6 {
  height: 40vw;
}

.key__section {
  display: flex;
  justify-content: space-around;
  margin-top: -2%;
  margin-left: 3%;
}

.left__key {
  box-shadow: 1vw 1vw 1.5vw rgb(189, 187, 187);
  height: 12vw;
  width: 45vw;
  border-radius: 20px;
  margin-bottom: 2vw;
  display: flex;
}

.blue__side {
  background-color: #2fa4ff;
  box-shadow: 3px 3px 15px rgb(189, 187, 187);
  height: 12vw;
  width: 90px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 0px;
}

.blue__sid {
  margin-left: 20%;
  margin-top: 60%;
}

.enabled {
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 1.5vw;
  letter-spacing: 0;
}
.enabled2 {
  font-size: 16px;
  /* font-family: 'Inter', sans-serif; */
  /* font-weight: lighter; */
  text-align: left;
  color: rgb(158, 153, 153);
  padding-left: 1.5vw;
}

.savings {
  width: 100%;
  height: 110vh;
  background-color: #222;
}

.savings-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.earn-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: aqua;
  margin-left: 4%;
}

.earn-body {
  font-family: "Coolvetica";
  font-size: 2.5vw;
  color: #fff;
  margin-left: 6%;
  margin-top: -3%;
}

.global {
  margin-top: -5.5%;
  width: 100%;
  height: 110vh;
  background-color: #333;
}

.global-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.single-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: coral;
  margin-left: 53%;
}

.single-body {
  font-family: "Coolvetica";
  font-size: 2vw;
  color: #fff;
  margin-top: -3%;
  margin-left: 52.5%;
}

.invest {
  width: 100%;
  height: 120vh;
  background-color: #000;
  margin-top: -5%;
}

.invest-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.investment-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: lightblue;
  margin-left: 6%;
}

.investment-body {
  font-family: "Coolvetica";
  font-size: 2vw;
  color: #fff;
  margin-top: -3%;
  margin-left: 6%;
}

.tools {
  width: 100%;
  height: 110vh;
  background-color: #111;
  margin-top: -5%;
}

.tools-header {
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 10%;
}

.trade-18 {
  font-family: "Coolvetica";
  font-size: 6vw;
  color: #2ecc71;
  margin-left: 55%;
}

.trade-body {
  font-family: "Coolvetica";
  font-size: 2vw;
  color: #fff;
  margin-top: -3%;
  margin-left: 55%;
}

.services {
  width: 100%;
  height: 110vh;
  background-color: #222;
  margin-top: -5%;
}

.roadmap {
  width: 100%;
  height: 100vh;
  background-color: #000;
  padding-top: -5%;
}

.roadmap-header {
  color: #fff;
  font-family: "Lemon/Milk light Regular";
  font-size: 6vw;
  padding-top: 1%;
  text-align: center;
  padding-top: 2%;
}

.roadmap-card {
  margin-left: -2%;
  width: 95%;
  overflow-x: scroll;
  display: flex;
  background-color: transparent;
  padding: 3vw;
}

.card {
  min-width: 25rem;
  height: 30rem;
  margin-right: 4%;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid rgb(0, 255, 255);
  display: flex;
  flex-direction: column;
  transition: 1s;
}

.line1 {
  width: 3.2rem;
  margin-top: 55%;
  margin-left: 100%;
  border: 0.5px solid rgb(0, 255, 255);
}

.left {
  width: 33vw;
  margin-top: -13%;
  margin-left: -60%;
}

.right {
  width: 33vw;
  margin-top: -65%;
  margin-left: 100%;
}

.piggy {
  float: right;
  margin-top: -30%;
}

.bull {
  float: right;
  margin-top: -35%;
}

.global-img {
  float: left;
  margin-top: -35%;
  width: 40%;
}

.stock {
  float: left;
  margin-top: -35%;
  width: 40%;
  margin-left: 2%;
}

.loader {
  font-size: 20px;
  text-indent: -9999em;
  margin: 10px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(
    left,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loader:after {
  background: #000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.q1 {
  color: #fff;
  margin-top: -50%;
  text-align: center;
  font-family: "Bebas";
}

.fa {
  color: #fff;
  padding: 10px;
  font-family: "Coolvetica";
}

.todo {
  color: #fff;
  padding-left: 40px;
  margin-top: -7%;
}

.roadmap-head {
  color: transparent;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-family: "Bebas";
  margin-top: -70%;
  color: aqua;
  -webkit-text-fill-color: black; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: aqua;
  font-size: 3rem;
  margin-left: 45%;
}
